<template>
    <p>It works: Trust me bro.</p>
</template>

<script setup>

    // Modules
    import { onMounted, ref } from 'vue';
    import axios from 'axios';

    // Refs
    const response = ref(null);

    // Lifecycle hooks
    onMounted(() => {
        // Is there a better way to access ref in here?
        const responseRef = response;

        axios.get('https://jsonplaceholder.typicode.com/todos')
            .then(response => {
                responseRef.value = response
            })
            .catch(error => {
                responseRef.value = error
            })
            .finally(() => {
                // always executed
            });
    });

</script>

<style lang='scss' scoped></style>