<template>
    <p>You are currently browsing on {{ browser.getBrowser().name }}</p>
</template>

<script setup>

    // Modules
    import Bowser from "bowser";

    // Variables
    const browser = Bowser.getParser(window.navigator.userAgent);

</script>

<style lang='scss' scoped></style>