<template>
    <p>{{ formattedDate }}</p>
</template>

<script setup>

    // Modules
    import * as dayjs from 'dayjs';

    // Variables
    const formattedDate = dayjs('2018-08-08');

</script>

<style lang='scss' scoped></style>