<template>
    <div class="search-wrapper">
        <input
            placeholder="Search title.."
            @input="event => search(event.target.value)"
        >
        <p>Check the console 👀</p>
    </div>
</template>

<script setup>

    // Modules
    import Fuse from 'fuse.js';

    // Data
    import list from '@/data/list.json';

    // Fuse
    const options = {
        keys: [
            "title",
            "author.firstName"
        ]
    }
    const fuse = new Fuse(list, options);

    // Methods
    const search = pattern => {
        console.log('Fuse search results:');
        console.log(fuse.search(pattern));
    }

</script>

<style lang='scss'></style>