<template>
    <div class="box" />
</template>

<script setup>

    // Modules
    import { onMounted } from 'vue';
    import gsap from 'gsap';

    // Lifecycle hooks
    onMounted(() => {
        gsap.to(".box", { x: 800, delay: 1 });
    });

</script>

<style lang='scss' scoped>

.box {
    width: 50px;
    height: 50px;
    background: blue;
}

</style>