<template>
    <div id="element" ref="element">
        Click and move your mouse within this box.
    </div>
</template>

<script setup>

    // Modules
    import { ref, onMounted } from 'vue';
    import * as Hammer from 'hammerjs';

    // Refs
    const element = ref(null);

    // Methods
    const newHammer = () => {
        const hammertime = new Hammer(element.value);

        hammertime.on("panleft panright tap press", ev => {
            element.value.textContent = ev.type +" gesture detected.";
        });
    }

    // Lifecycle hooks
    onMounted(() => {
        newHammer();
    });

</script>

<style lang='scss' scoped>

#element {
    background: silver;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

</style>