<template>
    <button @click="sound.play();">Play sound</button>
</template>

<script setup>

    // Modules
    import { Howl } from 'howler';

    // Variables
    const sound = new Howl({
        src: ['sound.mp3']
    });

</script>

<style lang='scss' scoped></style>