<template>
    <div data-scroll-container>
        <div data-scroll-section>
            <h2 data-scroll>Hey</h2>
            <p data-scroll>👋</p>
        </div>
        <div data-scroll-section>
            <h2 data-scroll data-scroll-speed="1">What's up?</h2>
            <p data-scroll data-scroll-speed="2">😬</p>
        </div>
    </div>
</template>

<script setup>

    // Modules
    import { onMounted, ref } from 'vue';
    import LocomotiveScroll from 'locomotive-scroll';

    // Ref
    const scroll = ref(null);

    onMounted(() => {
        scroll.value = new LocomotiveScroll({
            el: document.querySelector('[data-scroll-container]'),
            smooth: true
        });
    });

</script>

<style lang='scss' scoped></style>