<template>
    <OverlayScrollbarsComponent defer>
        example content
    </OverlayScrollbarsComponent>
</template>

<script setup>

    // Modules
    import { OverlayScrollbarsComponent } from "overlayscrollbars-vue";

</script>

<style lang='scss' scoped></style>