<template>
    <swiper
        :slides-per-view="1"
        :space-between="30"
        :loop="true"
        :pagination="{
            clickable: true,
        }"
        :navigation="true"
        :modules="swiperModules"
        class="mySwiper"
        @swiper="onSwiper"
        @slideChange="onSlideChange"
    >
        <swiper-slide>Slide 1</swiper-slide>
        <swiper-slide>Slide 2</swiper-slide>
        <swiper-slide>Slide 3</swiper-slide>
        <swiper-slide>Slide 4</swiper-slide>
        <swiper-slide>Slide 5</swiper-slide>
        <swiper-slide>Slide 6</swiper-slide>
        <swiper-slide>Slide 7</swiper-slide>
        <swiper-slide>Slide 8</swiper-slide>
        <swiper-slide>Slide 9</swiper-slide>
    </swiper>
</template>

<script setup>

    // Modules
    import { Swiper, SwiperSlide } from "swiper/vue";

    // Styles
    import "swiper/css";
    import "swiper/css/pagination";
    import "swiper/css/navigation";

    // import required modules
    import { Pagination, Navigation } from "swiper";

    // Variables
    const swiperModules = [Pagination, Navigation];

    // Methods
    const onSwiper = (swiper) => {
        console.log(swiper);
    }

    const onSlideChange = () => {
        console.log('slide change');
    }

</script>

<style lang='scss' scoped>

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: silver;
    color: white;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

</style>