<template>
    <div ref="vid" />
</template>

<script setup>

    // Modules
    import Player from '@vimeo/player';
    import { ref } from 'vue';

    // Refs
    const vid  = ref(null)

    // Variables
    const url = "https://player.vimeo.com/video/781583076?h=8aa777a7c5&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479";
    const options = {
        url,
        width: "100%",
        height: "100%",
        controls: false,
        responsive: true,
        loop: false,
        allowfullscreen: true,
    }
    const player = new Player(vid, options);

    // Lifecycle hooks
    onMounted(() => {
        console.log(vid)
    });

</script>

<style lang='scss' scoped></style>