<template>
    <router-view />
</template>

<!-- beforeCreate & created now encapsulated into setup -->
<!-- <script setup> is a compile-time syntactic sugar for using Composition API inside Single-File Components (SFCs) -->
<script async setup>

    // Lifecycle hooks
    import { 
        ref,
        onBeforeMount,
        onMounted,
        onBeforeUpdate,
        onUpdated,
        onBeforeUnmount,
        onUnmounted,
        onActivated,
        onErrorCaptured
    } from 'vue';

    // Standard variables
    const foo = 'foo';

    // Reactive variables
    const bar = ref('bar');
    const posts = ref();

    // Methods
    const method = () => {
        console.log(foo, bar.value);
    }

    // Lifecycle hooks

    onBeforeMount(() => {
        // Called before mounting begins
    });

    onMounted(async () => {
        // Called when component is mounted

        posts.value = await fetch(`https://jsonplaceholder.typicode.com/todos`).then((r) => r.json());

        console.log('/ Example of a ref returning a proxy:')
        console.log(posts.value);

        // https://vuejs.org/guide/extras/reactivity-in-depth.html#how-reactivity-works-in-vue
    });

    onBeforeUpdate(() => {
        // Called when reactive data changes and before re-render
    });

    onUpdated(() => {
        // Called after re-render
    });

    onBeforeUnmount(() => {
        // Called before the vue instance is destroyed
    });

    onUnmounted(() => {
        // Called after the instance is destroyed
    });

    onActivated(() => {
        // Called when a kept-alive component is activated
    });

    onErrorCaptured(() => {
        // Called when an error is captured from a child component
    });

</script>

<!-- Not carried over from Options API -->
<script>
    export default {
        name: 'App',
        inheritAttrs: false,
        customOptions: {}
    }
</script>

<style lang='scss' scoped></style>
