<template>
    <img alt="Vue logo" src="./assets/logo.png">
    <Standardization :method="method" :posts="posts"/>
</template>

<script>

    // Lifecycle hooks
    import { ref } from 'vue';

    // Components
    import Standardization from './components/Standardization.vue';

    export default {
        name: 'App',
        components: {
            Standardization
        },
        // setup() hook of Composition API is called before any Options API hooks
        setup() {

            // Standard variable
            const foo = 'foo';

            // Reactive variable
            const bar = ref('bar');
            const posts = ref();

            // Return from setup what we need to access in our template & lifecycle hooks
            return {
                foo,
                bar,
                posts
            }
        },
        methods: {
            method() {
                console.log(this.foo, this.bar);
            }
        },

        // Lifecycle hooks options API

        beforeCreate() {
            // Called immediately when the instance is initialized
        },
        created() {
            // Called after the instance has finished processing all state-related options
        },
        beforeMount() {
            // Called right before the component is to be mounted
        },
        mounted() {
            // Called after the component has been mounted
        },
        beforeUpdate() {
            // Called right before the component is about to update its DOM tree due to a reactive state change
        },
        updated() {
            // Called after the component has updated its DOM tree due to a reactive state change
        },
        beforeUnmount() {
            // Called right before a component instance is to be unmounted
        },
        unmounted() {
            // Called after the component has been unmounted
        },
        errorCaptured() {
            // Called when an error propagating from a descendant component has been captured
        }
    }
</script>

<style lang='scss'>
    body {
        margin: 0;
    }

    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
