<template>
    <ul>
        <li v-for="({title}, index) in posts" :key="index">
            {{ title }}
        </li>
    </ul>
</template>

<script setup>

    // Data
    const posts = await fetch(`https://jsonplaceholder.typicode.com/todos`).then((r) => r.json());

    //All we have to do to make our setup function asynchronous, is use a top level await inside our script setup.

</script>

<style lang='scss' scoped></style>