<template>
    <component :is="userLoggedIn ? PassingProps : null" />
</template>

<script setup>

    // Components
    import PassingProps from '@/components/examples/PassingProps.vue';

    // Ref variables
    const userLoggedIn = ref(false);

</script>

<style lang='scss' scoped></style>