<template>
    <div>
        <a href="https://vitejs.dev" target="_blank">
            <img src="/vite.svg" class="logo" alt="Vite logo">
        </a>
        <a href="https://vuejs.org/" target="_blank">
            <img src="@/assets/vue.svg" class="logo vue" alt="Vue logo">
        </a>
        <PassingProps prop="This is a prop" />
        <div class="flex-col">
            <router-link to="/modules">View our VUE3 Modules</router-link>
            <router-link to="/suspense">Example of a suspense component</router-link>
        </div>
    </div>
</template>

<script setup>

    // Components
    import PassingProps from '@/components/examples/PassingProps.vue';

</script>

<style lang='scss' scoped>
    .logo {
        height: 6em;
        padding: 1.5em;
        will-change: filter;
    }

    .logo:hover {
        filter: drop-shadow(0 0 2em #646cffaa);
    }

    .logo.vue:hover {
        filter: drop-shadow(0 0 2em #42b883aa);
    }

    .flex-col {
        display: flex;
        flex-direction: column;
    }
</style>