<template>
    <div>
        <h1>Swiper</h1>
        <Swiper />
        <!-- <h1>Vimeo Player</h1> -->
        <!-- <VimeoPlayer /> -->
        <h1>Gsap</h1>
        <Gsap />
        <h1>Fuse</h1>
        <Fuse />
        <h1>Hammer</h1>
        <Hammer />
        <h1>Axios</h1>
        <Axios />
        <h1>i18n</h1>
        <I18n />
        <h1>Day.js</h1>
        <Day />
        <h1>Howler</h1>
        <Howler />
        <h1>Bowser</h1>
        <Bowser />
        <h1>Overlay Scrollbars</h1>
        <OverlayScrollbars />
        <!-- <h1>Locomotive scroll</h1>
        <LocomotiveScroll /> -->
    </div>
</template>

<script setup>

    // Modules
    import Swiper from '@/components/modules/Swiper.vue';
    // import VimeoPlayer from '@/components/modules/VimeoPlayer.vue';
    import Gsap from '@/components/modules/Gsap.vue';
    import Fuse from '@/components/modules/Fuse.vue';
    import Hammer from '@/components/modules/Hammer.vue';
    import Axios from '@/components/modules/Axios.vue';
    import I18n from '@/components/modules/I18n.vue';
    import Day from '@/components/modules/Day.vue';
    import Howler from '@/components/modules/Howler.vue';
    import Bowser from '@/components/modules/Bowser.vue';
    import OverlayScrollbars from '@/components/modules/OverlayScrollbars.vue';
    // import LocomotiveScroll from '../modules/LocomotiveScroll.vue';

</script>

<style lang='scss' scoped></style>