<template>
    <h1>VUE 3 STANDARD WAYS OF WORKING</h1>
</template>

<script setup>

    // Props
    const props = defineProps({
        method: {type: Function, default: () => {} }
    });

    // Emits
    const emit = defineEmits(['change', 'delete']);

</script>

<style lang='scss' scoped></style>