<template>
    <Suspense>
        <!-- component with nested async dependencies -->
        <Posts />
        <!-- loading state via #fallback slot -->
        <template #fallback>
            <p>Loading...</p>
        </template>
    </Suspense>
</template>

<script setup>

    // Components
    import Posts from '../examples-data/PostsComponent.vue';

</script>