<template>
    <h1>VUE 3 STANDARD WAYS OF WORKING</h1>
</template>

<script>
    export default {
        name: 'standardization-component',
        props: {
            method: {type: Function, default: () => {} }
        }
    }
</script>

<style lang='scss' scoped></style>
